@layout('layouts/master')
@set('title', 'Home page')

@section('body')
  <section class="hero is-warning">
    <div class="hero-body">
      <p class="title">
        Title
      </p>
      <p class="subtitle">
        Subtitle
      </p>
    </div>

  </section>

  <section>
    <a href="{{ route('survey.show') }}">Empezar encuesta</a>
  </section>
@end
